<mat-expansion-panel class="mat-elevation-z0" style="position: relative">
	<mat-expansion-panel-header>
		<mat-progress-bar
			mode="indeterminate"
			style="position: absolute; top: 0; left: 0; width: 100%"
			*ngIf="loading"
		></mat-progress-bar>
		<mat-panel-title>
			{{ tasks?.length }}
			Tasks
		</mat-panel-title>
	</mat-expansion-panel-header>
	<mat-list>
		<ng-container *ngFor="let task of tasks ">
			<mat-list-item   style="height: auto;"  routerLink="./task/{{task.id}}">
				<p class="task-name" mat-line>
					{{ task.created | date: 'dd.M.yyyy':'undefined':'bg_BG' }}
					{{ task.name }}
				</p>
				<div mat-line>
					<div class="task-footer">
						<div class="names">
							<span *ngFor="let person  of  task.assigned_to">{{person.name}}</span>
						</div>
						<app-matter-task-status
							[status]="task.status"
						></app-matter-task-status>
					</div>
				</div>
			</mat-list-item>
			<mat-divider></mat-divider>
		</ng-container>
	</mat-list>
</mat-expansion-panel>
