<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			<ion-badge style="margin-right: 5px">{{ tasks.length }}</ion-badge>
			Tasks
		</mat-panel-title>
	</mat-expansion-panel-header>

	<ion-list>
		<ion-item-group *ngFor="let task of tasks">
			<ion-item
				style="width: 100%"
				class="item-text-wrap ion-no-padding ion-no-margin"
				[lines]="'none'"
			>
				<div>
					{{ task.priority }}.
					{{ task.created | date: 'dd.M.yyyy':'undefined':'bg_BG' }}
					{{ task.name }}
				</div>
			</ion-item>
			<ion-item class="item-text-wrap ion-no-padding ion-no-margin">
				<strong>{{ task.assigned_to_names }}</strong>
				<app-matter-task-status
					slot="end"
					[status]="task.status"
				></app-matter-task-status>
			</ion-item>
		</ion-item-group>
	</ion-list>
</mat-expansion-panel>
