<strong class="ion-no-padding ion-no-margin"
	>{{ entry.task_name }} |
	<span style="color: gray; font-size: 14px">{{
		entry.type_alias || entry.type
	}}</span></strong
>
<div class="content ion-margin-top">
	<div class="description ion-margin-bottom">
		<app-multi-lang-input
			[input]="entry.description"
		></app-multi-lang-input>
	</div>
	<div class="hours">
		<mat-label>Hrs (billable/worked)</mat-label>
		<span style="font-weight: bold">
			{{ entry.spent_time_billable }} / {{ entry.spent_time }}
		</span>
	</div>
	<div class="bottom ion-margin-top">
		<div class="worked-on">
			<mat-label
				>worked on
				<span style="font-weight: bold">{{
					entry.created_on
				}}</span></mat-label
			>
		</div>
		<div class="price">
			<mat-label
				>price
				<span style="font-weight: bold">{{
					entry.price
				}}</span></mat-label
			>
		</div>
	</div>
</div>
<mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>
