<ion-header>
	<ion-toolbar>
		<ion-title collapse="condense">
			{{ details?.matter }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content >
	<mat-accordion >
		<div class="ion-padding-horizontal ion-padding-top">
			<app-notes></app-notes>
		</div>
		<div class="ion-padding-horizontal ion-padding-top">
			<app-tasks [tasks]="details?.tasks"></app-tasks>
		</div>
		<div class="ion-padding-horizontal ion-padding-top">
			<app-time-entries></app-time-entries>
		</div>
		<div class="ion-padding-horizontal ion-padding-top">
			<app-expenses [expenses]="details?.billings"></app-expenses>
		</div>
	</mat-accordion>
</ion-content>
