<mat-expansion-panel class="ion-no-margin" [expanded]="true">
	<mat-expansion-panel-header>
		<mat-panel-title> Notes </mat-panel-title>
	</mat-expansion-panel-header>

	<ion-item-sliding>
		<ion-item-options>
			<ion-item-option (click)="editNotes()">
				<ion-icon slot="end" name="create"></ion-icon>
				Edit
			</ion-item-option>
		</ion-item-options>
		<ion-item lines="none">
			<ion-text style="white-space: pre-wrap;">
				{{ notes }}
			</ion-text>
		</ion-item>
	</ion-item-sliding>
</mat-expansion-panel>
